# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# SLURM
slurm-*.out
slurm-*.err
*.slurm
!data/keep_slurm/slurm-*.out
!data/keep_slurm/slurm-*.err
!data/keep_slurm/*.slurm

# Media Files
snake-agent/

data/videos/*
!data/videos/.gitkeep
